{% extends "manager/base_manager.html" %}
{% load url_extras %}

{% block title %}AJKLT - Blog Manager Panel{% endblock title %}
{% block logo %}AJKLT - Blog Manager Panel{% endblock logo %}

{% block content %}
        {% if gen.totalposts > 0 %}
        {% include "manager/snippets/edit_settings_form.html" with form=settings_form %}
        {% endif %}
        {% include "blog/snippets/new_category_form.html" with form=cat_form %}
        {% if gen.totalcats > 0 %}
        {% include "blog/snippets/new_post_form.html" with form=post_form %}
        {% endif %}
        <div class="manager_blogTopContainer">
            <h2>General Statistics</h2>
            <table border="1" class="manager_blogGeneralTable">
                <tr><th>Total Categories</th><th>Total Posts</th><th>Total Comments</th><th>Total Hits</th></tr>
                <tr><td>{{ gen.totalcats }}</td><td>{{ gen.totalposts }}</td><td>{{ gen.totalcmts }}</td><td>{{ gen.totalhits }}</td></tr>
            </table>
        </div>
        <div class="manager_blogCategoryContainer">
            <h2>Category Statistics</h2>
            <table border="1" class="manager_blogCategoryTable">
                <tr><th>Id</th><th>Name</th><th>Associated Posts</th><th></th>
                {% for category in categories %}
                    <tr><td>{{ category.id }}</td><td>{{ category.name }}</td><td>{{ category.posts.all|length }}</td><td><a href="{% url edit_category category.id %}">Edit</a></tr>
                {% endfor %}
            </table>
        </div>
        {% include "manager/snippets/post_stats_table.html" %}
        
{% endblock content %}
