{% extends "manager/blog_manager.html" %}
{% load url_extras %}

{% block title %}AJKLT - Manage Category :: {{ category.name }}{% endblock title %}
{% block logo %}AJKLT - Manage Category - {{ category.name }}{% endblock logo %}

{% block content %}
        <a href="{% url manage_blog %}">&lt&lt&lt Back</a>
            <h2>Edit Category</h2>
            <form action="{% url edit_category category.id %}" method="post">
                <fieldset>
                    {% csrf_token %}
                    {{ form.as_ul }}
                </fieldset>
                <div class="blog_categoryFooter">
                    <input type="submit" value="Save" />
                </div>
            </form>
        </article>
{% endblock content %}
