{% load url_extras %}
        <div class="manager_blogPostContainer" id="table">
            <h2>Post Statistics</h2>
            <table border="1" class="manager_blogPostTable">
                <tr>
                {% for field, data in field_data.items %}
                    <th><a href="{% geturl manage_blog '' 'sort=field by=data.0' %}#table">{{ data.1 }}</a>{% if field == key and data.0 == "asc" %} ▾{% endif %}{% if field == key and data.0 == "desc" %} ▴{% endif %}</th>
                {% endfor %}
                    <th></th>
                </tr>
                {% if dir == 'asc' %}{% include "manager/snippets/post_stats_row.html" with post_list=post_list|dictsort:key %}
                {% else %}{% if dir == 'desc' %}{% include "manager/snippets/post_stats_row.html" with post_list=post_list|dictsortreversed:key %}
                {% else %}{% include "manager/snippets/post_stats_row.html" %}{% endif %}{% endif %}
            </table>
        </div>
