{% extends "base.html" %}
{% load url_extras %}

{% block title %}AJKLT - Blog{% if filter_name %} :: {{ filter_name }}{% endif %}{% endblock title %}
{% block logo %}AJKLT - Blog{% if filter_name %} - {{ filter_name }} Entries{% endif %}{% endblock logo %}

{% block content %}
    {% if current_page %}
        {% include "blog/snippets/page_nav_table.html" with nav_id="blog_nav_top" %}
    {% endif %}
    {% for post in post_list %}
        <article class="blog_postContainer" id="blog_latestPost{{ forloop.counter0 }}">
            <h2><a href="{% url blog_post_by_name post.urlname %}">{{ post.title }}</a></h2>
            <div class="blog_postDetail">Posted on {{ post.publish_date }} in <a href="{% geturl blog_home '' 'filter=post.category' %}">{{ post.category }}</a>.</div>
            <hr />
            <div class="blog_postBody">
                {{ post.body }}
            </div>
            <div class="blog_postComments">
                <a href="{% url blog_post_by_name post.urlname %}">Comments({{ post.comments.all|length }})</a>
            </div>
        </article>
    {% empty %}
        <p>No posts have been published.</p>
    {% endfor %}
    {% if last_page > 0 %}
        {% include "blog/snippets/page_nav_table.html" with nav_id="blog_nav_bottom" %}
    {% endif %}
{% endblock content %}
