{% extends "blog/base_blog.html" %}
{% load url_extras %}

{% block title %}AJKLT - Blog :: {{ post.title }}{% endblock title %}
{% block logo %}AJKLT - Blog - {{ post.title }}{% endblock logo %}

{% block content %}
        {# TODO: {% if form.errors %}<script>.scrollTo('#blog_newComment');</script>{% endif %} #}
        <article class="blog_postContainer">
            <h2><a href="{% url blog_post_by_name post.urlname %}">{{ post.title }}</a></h2>
            <div class="blog_postDetail">Posted on {{ post.publish_date }} in <a href="{% geturl blog_home '' 'filter=post.category' %}">{{ post.category }}</a>.</div>
            <hr />
            <div class="blog_postBody">
                {{ post.body }}
            </div>
            <div class="blog_postComments">
                <div class="blog_commentSummary">Comments({{ comments|length }})</div>
                {% for comment in comments %}
                    <fieldset>
                        <div class="blog_commentContainer" id="blog_comment{{ forloop.counter0 }}">
                            <em>Comment #{{ forloop.counter }} by {{ comment.author }}{% if comment.homepage %} ({{ comment.homepage }}){% endif %}</em>
                            <p>{{ comment.body }}</p>
                        </div>
                    </fieldset>
                {% endfor %}
            </div>
        </article>
        {% include "blog/snippets/new_comment_form.html" %}
{% endblock content %}
