{# Template for a public CommentForm #}
        <article class="blog_newComment" id="blog_newComment">
            <h3>New Comment</h3>
            <form action="{% url blog_post_by_name post.urlname %}" method="post">
                <fieldset>
                    {% csrf_token %}
                    {{ form.as_ul }}
                </fieldset>
                <div class="blog_newCommentFooter">
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </article>
