{% load url_extras %}
        <nav class="blog_nav" id="{{ nav_id }}">
            <table>
                <tr>
                    <th>Page:</th>
                    {% for dummy in page_range %}
                        {# In templates, 'and' has higher precedence than 'or' #}
                        {% if forloop.counter == 1 and not current_page or forloop.counter == current_page %}
                            <td>{{ forloop.counter }}</td>
                        {% else %}
                            {% if filter_name %}
                            <td><a href="{% geturl blog_home '' 'filter=filter_name page=forloop.counter' %}">{{ forloop.counter }}</a></td>
                            {% else %}
                            <td><a href="{% geturl blog_home '' 'page=forloop.counter' %}">{{ forloop.counter }}</a></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </nav>
