<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}AJKLT Django Site{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
{% endblock head %}
</head>

<body>
    <header class="base_header">
    {% block header %}
        <h1>{% block logo %}AJKLT Django Site{% endblock logo %}</h1>

        <nav class="base_nav">
        {% block nav %}
            <table>
                <tr><td><a href="/">Home</a></td><td><a href="{% url blog_home %}">Blog</a></td></tr>
            </table>
        {% endblock nav %}
        </nav>
    {% endblock header %}
    </header>

    <section class="base_content">
    {% block content %}{% endblock %}
    </section>

    <footer class="base_footer">
    {% block footer %}
        Copyright AJKLT
    {% endblock footer %}
    </footer>
</body>
</html>
